<div id="<%= dom_id paste %>">
  <p class="my-5">
    <strong class="block mb-1 font-medium">Title:</strong>
    <%= paste.title %>
  </p>
  <div class="my-5">
    <strong class="block mb-1 font-medium">Content:</strong>
    <div class="paste-content">
      <pre data-copy-target="source"><code class="<%= @paste.language %>"><%= @paste.content_file.download %></code></pre>
    </div>
  </div>
</div>
