<div id="<%= dom_id paste %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= paste.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= paste.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Private:</strong>
    <%= paste.private %>
  </p>

</div>
